.newExpense {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 3px solid black;
  padding: 15px;
  border-radius: 18px;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__amount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  input,
  label {
    margin-bottom: 10px;
  }
  input {
    height: 50px;
    width: 400px;
    font-size: 2.8rem;
    border-radius: 10px;
    padding: 0 10px;
    border: 1px solid lightgrey;
  }
  button {
    align-self: flex-end;
    padding: 10px 24px;
    border: 3px solid black;
    font-size: 2.7rem;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
  }
  &.invalid {
    border: 3px solid red;
  }
}

@media screen and (max-width: 628px) {
  .newExpense {
    button {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 522px) {
  .newExpense {
    input {
      width: 100%;
      font-size: 2rem;
    }
  }
}
