@import "./css/mixins";
@import "./css/variables";
@import "./css/reset";
@import "./css/fonts";

// Preinstalled stuff
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// base styles

html {
  font-size: 62.5%;
}

// header styles

h1 {
  font-size: 10rem;
  color: $geel;
}
